<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="semantic/semantic.min.js"></script> <!--Семантик-->

    <link rel="stylesheet" type="text/css" th:href="@{/css/semantic/semantic.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<!-- Header -->
<div class="body-1280">
    <div class="ui pointing inverted menu">
        <a class="item active inverted" href="/">Index</a>
        <a class="item  inverted" href="/students">Students</a>
        <a class="item inverted" href="/books/add">Add books</a>
        <div class="right menu">
            <div class="item">
                <div class="ui transparent icon input">
                    <input type="text" placeholder="Search..." class="inverted">
                    <i class="search link icon inverted"></i>
                </div>
            </div>

            <div class="ui simple dropdown item">
                [[${#httpServletRequest.remoteUser}]] <i class="icon dropdown"></i>
                <div class="menu">
                    <a class="item"><i class="edit icon"></i> Edit Profile</a>
                    <a class="item"><i class="globe icon"></i> Choose Language</a>
                    <a class="item"><i class="settings icon"></i> Account Settings</a>
                    <a class="item" href="/login?logout"><i class="settings icon"></i>Logout</a>

                </div>
            </div>
        </div>
    </div>
    <body>
    <div class="ui segment ">
        <h2>Books List</h2>
        <div class="ui grid">
        <tr th:each="books : ${books}">
            <div class="four wide column">
                <div class="ui card">
                    <div class="image">
                        <img th:src="@{/images/library.jpg}"/>
                    </div>
                    <div class="content">
                        <a class="header"><p th:text="${books.bookName}"></p></a>
                        <div class="meta">
                            <span class="date">Published in <i th:text="${books.bookYear}"></i>by <i th:text="${books.bookAuthor}"></i></span>
                        </div>
                        <div class="description">
                            <p th:text="${books.bookInformation}"></p>
                        </div>
                    </div>
                    <!--<div class="extra content">-->
                        <!--<a>-->
                            <!--<i class="user icon"></i>-->
                            <!--22 Friends-->
                        <!--</a>-->
                    <!--</div>-->
                </div>
            </div>
        </tr>
        </tbody>    </div>
    </body>
</div>
</html>